language: php

php:
  - '5.6'
  - '7.0'
  - '7.1'
  - '7.2'
  - '7.3'
  - '7.4'

before_script:
  - echo 'xdebug.mode = "coverage"' >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini

install:
  - composer self-update
  - composer install

script:
  - vendor/bin/phpunit
  - php code-coverage.php clover.xml 100
